{% load static %}

<!DOCTYPE html>
<html> 
    <head>
        <title>Travel Wishlist</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>

    <h1 id="site-header">Where do you want to go?</h1>
    
    {% comment %} This searches for content blocks in visited.html and wishlist.html  {% endcomment %}
    <body>
        {% block content %}
        {% endblock %}
    </body>

    <div>
        <p>A travel wishlist, built with django</p>
        
        <a class="nav-link" href="{% url 'places_visited' %}">Places you've visited</a>
        <a class="nav-link" href="{% url 'place_list' %}">Your wishlist</a>
    </div>
</html>